#################
## Program O
#################

logs/*.log
config/*.ini
bots/*
!bots/default

#################
## IntelliJ
#################

## Ignore intellij files

## User-specific files
*.idea
